<section class="section cta-section">
    <div class="container" fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="center center">
        <div class="wrapper" fxFlex="50%" fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center center">
            <h2 class="section-heading">Be the next to trust in MA-Technology!</h2>
            <p class="comment">I helped many customers before you.</p>
        </div>
        <div class="wrapper" fxFlex="50%" fxLayoutAlign="center center">
            <a class="btn" [routerLink]="" (click)="scrollToAnchor('contact')">
                Contact
            </a>
        </div>
    </div>
</section>
