<section class="section cta-section">
    <div class="container" fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="center center">
        <div class="wrapper" fxFlex fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center center">
            <h2 class="section-heading">Be the next to trust in MA-Technology!</h2>
            <p class="comment">We helped many customers before you.</p>
        </div>
        <div class="wrapper" fxFlex fxLayoutAlign="center center">
            <a class="btn" routerLink="/contact">
                Contact
            </a>
        </div>
    </div>
</section>