@import "src/variables";

.footer {
  background-color: #111;
  padding: 32px;

  .copywrite,
  .company {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 48px;
  }

  .links {
    .link {
      color: #fff;
      &:hover {
        color: $primary;
      }
    }
  }
}
