@import "src/variables";

.feature {
    padding: 8px;
    .icon {
        height: 48px;
        width: 48px;
        font-size: 48px;
        fill: $primary;
        filter: invert(83%) sepia(54%) saturate(7230%) hue-rotate(35deg) brightness(122%) contrast(98%);
    }

    .feature-text-wrapper {
        .feature-name {
            font-weight: 700;
            text-align: center;
        }

        .feature-description {
            text-align: center;
        }
    }
}
