@import "src/variables";

.contact-section {
  background-color: $primary;
  border-bottom: none;
  .section-subheading {
    color: #fff;
  }
}

@media (max-width: 959px) {
  .contact-section {
    .contact-form {
      width: calc(100% / 3 * 2);
    }
  }
}
@media (max-width: 599px) {
  .contact-section {
    .contact-form {
      width: 100%;
    }
  }
}
