.testimonial {
    .company-logo {
        width: 60px;
        height: auto;
        margin-bottom: 32px;
    }
    .text {
        text-align: center;
        width: 50%;
        margin-bottom: 16px;
    }
}