.about-image {
    width: auto;
    max-height: 500px;
}

.text-wrapper {
    .about-text {
        line-height: 1.75;
        margin-bottom: 32px;
        text-align: end;
    }
}

@media (max-width: 599px) {
  .text-wrapper {
    .about-text {
        text-align: center;
    }
}
}
