<section class="section about-section">
    <div class="container">
        <h2 class="section-heading">About Me</h2>
        <div class="content-wrapper" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap="48px">
            <div class="image-wrapper" fxFlex fxLayoutAlign.gt-xs="end" fxLayoutAlign.xs="center">
                <img class="about-image" src="/assets/img/team/anto.png" alt="Antonio Maioriello">
            </div>
            <div class="text-wrapper" fxFlex fxLayoutAlign.xs="center center" fxLayout="column">
                <p class="about-text">
                    My name is Anotnio Maioriello and I'm a KUKA programmer for over 10 years.
                </p>
                <p class="about-text">
                    During my long-term employment at the Daimler AG in Esslingen, I became an expert in machine programming.
                </p>
                <p class="about-text">
                    I love what I do and therefore guarantee for a good relationship and clean work.
                </p>
            </div>
        </div>

    </div>
</section>