<section class="section clients-section">
    <div class="container" fxLayout="column" fxLayoutAlign="center center">
        <h2 class="section-heading">Trusted By</h2>
        <div class="clients-wrapper" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="32px" fxLayoutGap.xs="48px">
            <div *ngFor="let client of clients" class="image-wrapper" fxLayout="column" fxFlex="100%" fxLayoutGap="24px" fxLayoutAlign="center center">
                <img class="client-logo" [src]="client.img" alt="Daimler Logo">
                <div class="client-name">{{client.name}}</div>
            </div>
        </div>
    </div>
</section>