.logo {
    position: absolute;
    height: 72px;
    z-index: 100;
}

@media (max-width: 959px) {
  .logo {
    position: fixed;
    height: 40px;
    z-index: 100;
    margin-top: 4px;
    right: 8px;
}

}
