@import "src/variables";

/* Global HTML */
html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: $dark;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: 0.2s;
  max-width: 100%;
}

a {
  color: $primary;
  &:hover {
    color: $primary-dark;
    border-bottom: 1px solid $primary-dark;
  }
}

/* Global Classes */
.container {
  max-width: 1280px;
  height: 100%;
  padding: 0 32px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  width: 100%;
  padding: 120px 0;
  border-bottom: 1px solid #ccc;
  .section-heading {
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
  }

  .section-subheading {
    font-size: 1rem;
    text-align: center;
    color: $grey;
    margin-bottom: 64px;
    margin-top: -88px;
  }
}

.btn {
  padding: 16px 32px;
  background-color: $primary;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  outline: none;
  border: 1px solid $primary;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: $primary-dark;
  }
  &:disabled {
    color: $dark;
    background-color: $grey;
    border-color: $grey;
    cursor: not-allowed;
  }
}

/* Tablets */
@media (max-width: 959px) {
  /* Global Classes Tablets */
  .section {
    padding: 56px 0;
    .section-heading {
      margin-bottom: 48px;
    }

    .section-subheading {
      margin-top: -32px;
    }
  }
}

@media (max-width: 599px) {
  /* Global Classes Tablets */
  .section {
    .section-heading {
      margin-bottom: 40px;
    }

    .section-subheading {
      margin-top: -24px;
    }
  }

}
